# Latex
*.aux
*.bbl
*.blg
*.log
*.out
*.toc
*.synctex.gz
*.fls
*.fdb_latexmk
*.pdfsync
*.synctex\(busy\)
*.nav
*.snm
*.bcf
*.run.xml
*.synctex
*.dvi

# Large datasets
*.h5

# Papers
/papers

# Sensor images
activities/data_exploration/img/sensors_unit_*

# Virtual environments
.venv

# Python
*.pyc